<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Description</title>

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link th:href="@{/styles/main.css}" rel="stylesheet" />
</head>
<body>

    <div class="container">
      <div class="table-responsive" >
            <div class="table-wrapper">
            <div class="table-scroller">
                <div class="table-title">  
                    <div class="row">
                        <div class="col-sm-6">
                         <a th:href="@{'/assets/'}" style="text-decoration: none; "> 
                        <h2>Дэлгэрэнгүй</h2>
                        </a></div>
                        
                        <div class="col-sm-1">
                             <div class="form-group">
                                <label for="selectYear">Он</label>
                                    <select class="form-control" id="selectYear">
	                                     <option value="2010">2010</option>
									      <option value="2011">2011</option>
									      <option value="2012">2012</option>
									      <option value="2013">2013</option>
									      <option value="2014">2014</option>
									      <option value="2015">2015</option>
									      <option value="2016">2016</option>
									      <option value="2017">2017</option>
									      <option value="2018">2018</option>
								          <option value="2019">2019</option>
								          <option value="2020">2020</option>
								          <option value="2021">2021</option>
                                    </select>
                             </div>
                         </div>  
                         <div class="col-sm-1">
                             <div class="form-group">
                             <form th:action="@{/assets}" th:object="${assetMonth}" method="get">
                               <label for="selectMonth">Сар</label>                               
                                    <select class="form-control" name = "month" id="selectMonth" >
                                    <option th:each = "month : ${months}"  th:value="${month}" th:text="${month}"/> 
                                     </select> 
                                     <input type="submit" value="Хайх" style="float:right;"/>
                                     
                              </form>
                            </div>
                         </div>
                         
                      <div class="col-sm-4">
                        <form th:action="@{/assets/1}">
                            <div class="search-box">
                            <input type="hidden" name="sortField" th:value="${sortField}"/>
                             <input type="hidden" name="sortDir" th:value="${sortDir}"/>
                             <input type="hidden" name="totalItems" th:value="${totalItems}" id="totalItems"/>
                            <div> <i class="material-icons">&#xE8B6;</i></a>
                                <input type="text" name="keyword" class="form-control" placeholder="Хайх&hellip;" th:value="${keyword}" required></div>
<!--                                 <div><i class="fa fa-times"></i></div> -->
<!--                           <input type="submit" value="Хайх"/> -->
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="table-body">
                <table class="table table-striped table-hover table-bordered" id="tableData" >
                     <tr>
                        <th class=fix><a th:href="@{'/assets/'+${currentPage} + '?sortField=id&sortDir='+ ${reverseSortDir}}"> ID<i class="fa fa-sort"></i></a> </th>
                        <th><a th:href="@{'/assets/'+${currentPage} + '?sortField=email&sortDir='+ ${reverseSortDir}}">  И-мэйл<i class="fa fa-sort"></i></a> </th>
                        <th><a th:href="@{'/assets/'+${currentPage} + '?sortField=firstName&sortDir='+ ${reverseSortDir}}">  Нэр<i class="fa fa-sort"></i> </a></th>
                        <th><a th:href="@{'/assets/'+${currentPage} + '?sortField=lastName&sortDir='+ ${reverseSortDir}}">  Овог<i class="fa fa-sort"></i></th></a>
                        <th>Cost</th>
                        <th class=fix>Засах</th> 
                     </tr>
                       <tr th:each="asset: ${listassets}" >
                            <td class=fix th:text="${asset.id}">asset ID</td>
		                    <td th:text="${asset.email}">E-mail</td>
		                    <td th:text="${asset.firstName}">First Name</td>
		                    <td th:text="${asset.lastName}">Last Name</td>
<!-- 		                <td th:each = "cost: ${costList}" th:text="${cost}" id="cost1" >Cost1</td> -->
                            <td th:text="${asset.costs}">Costs</td>
		                    <td class=fix>
                                <a href="#" class="view" title="View" data-toggle="modal" data-target="#ModalForm"><i class="material-icons">&#xE417;</i></a>
                                <a th:href="@{'/edit/' + ${asset.id}}" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
<!--                            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a> -->
                             </td>
                        </tr>  
                         
                   </table>
                 </div> 
                 </div>
            
              </div>
              
              </div>
                 <div class="clearfix">
                    <div class="hint-text">Showing <b>[[${currentPage}]]</b> out of <b>[[${totalItems}]]</b> pages</div>
                    <ul class="pagination">
<!--                         <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li> -->
<!--                         <span th:each="i : ${#numbers.sequence(1, totalPages)}"> -->
<!--                         <li class="page-item"><a href="#" class="page-link">[[${i}]]</a></li> -->
<!--                         </span> -->
                        
                        <a th:if="${currentPage > 1}" th:href="@{'/assets/1?sortField='+${sortField}+'&sortDir='+ ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">      <i class="fa fa-angle-double-left"></i>         </a>
                        <span th:unless="${currentPage > 1}">               <i class="fa fa-angle-double-left"></i>                                           </span>
                        &nbsp;&nbsp;
                        
                         <a th:if="${currentPage > 1}" th:href="@{'/assets/' + ${currentPage - 1} + '?sortField='+${sortField}+'&sortDir='+ ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}"><i class="fa fa-angle-left"></i></a>
                        <span th:unless="${currentPage > 1}"><i class="fa fa-angle-left"></i></span>
                        &nbsp;&nbsp;
                        
                          <span th:each="i : ${#numbers.sequence(1, totalPages)}"> 
                          <a th:if="${i != currentPage}" th:href="@{'/assets/' + ${i}} + '?sortField='+${sortField}+'&sortDir='+ ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}">[[${i}]]&nbsp;&nbsp;&nbsp;</a>
                         <span th:unless="${i != currentPage}">[[${i}]] &nbsp;&nbsp;&nbsp;</span>
                        </span>
                        &nbsp;&nbsp;
                         <a th:if="${currentPage < totalPages}" th:href="@{'/assets/' + ${currentPage + 1}+ '?sortField='+${sortField}+'&sortDir='+ ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}"><i class="fa fa-angle-right"></i></a>
                        <span th:unless="${currentPage < totalPages}"><i class="fa fa-angle-right"></i></span>
                        &nbsp;&nbsp;

                        <a th:if="${currentPage < totalPages}" th:href="@{'/assets/' + ${totalPages}+ '?sortField='+${sortField}+'&sortDir='+ ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}"><i class="fa fa-angle-double-right"></i></a>
                        <span th:unless="${currentPage < totalPages}"><i class="fa fa-angle-double-right"></i></span>


<!--                          <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}">[[${i}]]</li> -->
                        
<!--                         <li class="page-item"><a href="#" class="page-link">1</a></li> -->
<!--                         <li class="page-item"><a href="#" class="page-link">2</a></li> -->
<!--                         <li class="page-item active"><a href="#" class="page-link">3</a></li> -->
<!--                         <li class="page-item"><a href="#" class="page-link">4</a></li> -->
<!--                         <li class="page-item"><a href="#" class="page-link">5</a></li> -->
<!--                         <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li> -->
                    </ul>
                </div>
            </div>       
   
<div class="modal right fade" id="ModalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="myModalLabel2">Дэлгэрэнгүй мэдээлэл харах</h5>
                </div>

                <div class="modal-body" style="margin-left:10px;">
<!--                 <form th:action="@{/save}" th:object="${assetObject}" method="post"> -->
                <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                
                <div class="form-group">
                 <label for="id">Id : </label>
                   <input type="text" class="type-1" />
                </div>
                <div class="form-group">
                 <label for="id">Нэр : </label>
                   <input type="text" class="type-1" />
                </div>
                </div>
                
                <div class="form-group">
                 <label for="id">Овог : </label>
                   <input type="text" class="type-1" />
                </div>
                <div class="form-group">
                 <label for="id">Имэйл : </label>
                   <input type="text" class="type-1" />
                </div>
                   <div class="form-group">
                 <label for="id">Cost : </label>
                   <input type="text" class="type-1" />
                </div>
                </div>
<!--                  </form> -->
                  
                   
                </div>

            </div><!-- modal-content -->
        </div><!-- modal-dialog -->
    </div><!-- modal -->

<script>
$(document).ready(function() {
    var table = $('#dataTable').DataTable( {
        scrollY:        "300px",
        scrollX:        true,
        scrollCollapse: true,
        paging:         false,
        fixedColumns:   {
            leftColumns: 2
        }
    } );
} );
</script>

</body>
</html>